@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Palanquin+Dark:wght@400;500;600;700&display=swap");
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

header {
  height: 1000px;
  background-image: url(../images/main_image.png);
  background-size: cover;
  background-position: center;
}
@media (width > 430px) {
  header {
    border-radius: 2rem 2rem 0 0;
  }
}
header .header_wrap {
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
}
header .header_wrap .icon_image {
  margin-block-start: 0.3rem;
  width: 60px;
  height: auto;
  background-image: url(../images/icon.png);
  background-size: contain;
}
header .header_wrap .icon_image:hover {
  background-image: url(../images/icon_cheers.png);
}
header .header_wrap .header_right {
  display: flex;
  gap: 30px;
}
header .header_wrap .header_right .cart {
  width: 20px;
  right: 10px;
}
header .header_wrap .header_right .cart img {
  margin-block-start: 1.5rem;
  height: auto;
}
header .header_wrap .header_right .container {
  z-index: 100;
  width: 30px;
  height: 30px;
  margin-block-start: 0.8rem;
}
header .header_wrap .header_right .hbgButton {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header .header_wrap .header_right .hbgButton__fig {
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
}
header .header_wrap .header_right .hbgButton__fig--01 {
  top: 0;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
}
header .header_wrap .header_right .hbgButton__fig--02 {
  top: 8px;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
header .header_wrap .header_right .hbgButton__fig--03 {
  top: 16px;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
}
header .header_wrap .header_right .hbgButton__fig svg {
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
header .header_wrap .header_right .hbgButton__fig svg path {
  fill: none;
  stroke: #0a1d37;
  stroke-width: 7px;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--01 {
  top: 10px;
  transform: rotate(30deg);
  transition: top 0.3s 0.2s, transform 0.3s 0.5s;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--02 {
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--03 {
  top: 10px;
  transform: rotate(-30deg);
  transition: top 0.3s 0.2s, transform 0.3s 0.5s;
}

.title_wrap {
  position: relative;
  margin-block-start: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_wrap .arch {
  position: absolute;
  top: -40%;
}
.title_wrap .main_title {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 40px;
}
.title_wrap .sub_title {
  position: absolute;
  top: 65px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 24px; /* 文字のサイズ */
}

.dilate {
  filter: url(#dilate);
}

.scroll_wrap {
  position: relative;
}

.scroll_arrow img {
  position: absolute;
  width: 32px;
  right: 1rem;
  bottom: 2rem;
}

footer {
  margin-block-start: 4rem;
  padding-block-start: 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #faf8f4;
  background-image: url(../images/footer_bg.png);
  background-size: auto;
}
@media (width > 430px) {
  footer {
    border-radius: 0 0 2rem 2rem;
  }
}
footer .logo {
  margin-block-start: 4rem;
}
footer .sns_wrap {
  margin-block-start: 3.5rem;
}
footer .footer_beer {
  margin-block-start: 2.5rem;
  width: 153px;
  height: auto;
}
footer small {
  margin-block-end: 2rem;
  font-size: 14px;
}

.menu {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #faf8f4;
  width: 100vw;
  height: 120vh;
}
.menu .title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .title_wrap svg.arch {
  display: block;
  height: auto;
  margin: 0;
}
.menu .title_wrap .main_title,
.menu .title_wrap .sub_title {
  margin: 0;
}
.menu nav {
  position: relative;
  height: 220px;
}
.menu nav ul {
  top: -60px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.menu nav ul li {
  list-style: none;
}
.menu nav ul li a {
  text-decoration: none;
  color: #0a1d37;
}
.menu .sns_wrap {
  margin-block-start: 3rem;
}

section {
  padding-block-start: 0.1px;
  position: relative;
  margin-inline: 1rem;
}
section .sec_title {
  margin-block-start: 2rem;
  font-size: 1.5rem;
}
section .under_line {
  position: absolute;
  z-index: 1;
  height: 12px;
  top: 55px;
}
section .orange01 {
  background-color: rgba(255, 107, 53, 0.2509803922);
  width: 148px;
  left: -17px;
}
section .blue {
  background-color: rgba(79, 194, 247, 0.2509803922);
  right: -17px;
  width: 217px;
}
section .orange02 {
  background-color: rgba(255, 107, 53, 0.2509803922);
  width: 170px;
  left: -17px;
}
section .smalltext {
  font-size: 1rem;
  line-height: 20px;
}
section .middletext {
  font-size: 1.5rem;
  line-height: 20px;
}
section .beer_illust {
  width: 39px;
  position: relative;
}
section .beer_illust img {
  position: absolute;
  bottom: -3px;
  left: 140px;
}
section .text_box {
  margin-block-start: 1rem;
  margin-inline: 1rem;
  border: #0a1d37 solid 1px;
  border-radius: 1rem;
}
section .text_box p {
  margin-inline: 2rem;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  line-height: 2rem;
  font-weight: bold;
}
section .beer_image {
  position: absolute;
  width: 189px;
  bottom: 30px;
  right: -50px;
  rotate: 8.62deg;
}
section .worldwide_line {
  width: 100%;
  text-align: right;
  padding: 1rem;
}
section .worldwide_line img {
  display: inline-block;
  width: 208px;
  height: 163px;
}

.right .sec_title, .right .middletext, .right .smalltext {
  text-align: right;
}

.wave {
  margin-block: 4rem;
}

.chart {
  width: 320px;
  margin-inline: auto;
}

.chart_text {
  margin-block-start: 3rem;
  font-weight: bold;
  text-align: center;
}

.review_title {
  display: block;
  text-align: center;
}

.review_container {
  width: 100%;
  max-width: 430px; /* スマホ幅制限 */
  margin: 0 auto;
  overflow: hidden;
}

.contents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal_scroll {
  display: flex;
  overflow-x: auto; /* 横スクロール有効 */
  scroll-snap-type: x mandatory; /* スナップスクロール */
  -webkit-overflow-scrolling: touch;
  padding: 2rem 3rem;
  cursor: grab;
}

.horizontal_scroll.active {
  cursor: grabbing;
}

.picture {
  width: 279px;
  height: 460px;
  display: flex;
  gap: 4.5rem;
  flex-shrink: 0;
  align-items: center;
}
.picture::after {
  content: "";
  flex: 0 0 140px; /* 右端余白 */
}

.picture img {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.horizontal_scroll::-webkit-scrollbar {
  display: none;
}

.horizontal_scroll {
  scroll-behavior: smooth;
}

.drag {
  width: 100%;
  text-align: right;
  padding: 1rem;
}
.drag img {
  display: inline-block;
  width: 41px;
  height: auto;
}

.top_btn {
  margin-inline: auto;
  width: 100px;
  height: auto;
  margin-block-start: 2rem;
  transition: 0.2s;
}
.top_btn:hover {
  scale: 1.1;
}

img {
  max-width: 100%;
}

@media (width > 430px) {
  html {
    background-image: url(../images/pc_bg.png);
    background-attachment: fixed;
    background-size: cover;
  }
}

body {
  background-color: #faf8f4;
  color: #0a1d37;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 430px;
}
@media (width > 430px) {
  body {
    margin-inline: auto;
    margin-block: 4rem;
    border: 1px #4fc3f7 solid;
    border-radius: 2rem;
  }
}

.logo {
  width: 125px;
  height: auto;
  margin-inline: auto;
}

.english {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: bold;
}

.button {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button a {
  border-radius: 2rem;
  border: 1px solid #0a1d37;
  background-color: #ff6b35;
  color: #faf8f4;
  text-decoration: none;
  display: inline-block;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  transition: 0.2s;
}
.button a:hover {
  background-color: #ffc9b6;
  color: #0a1d37;
}

.sns_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.sns_wrap p {
  font-size: 1.5rem;
}
.sns_wrap .sns_icons {
  display: flex;
  gap: 2rem;
}
.sns_wrap .sns_icons img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=style.css.map */