@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Palanquin+Dark:wght@400;500;600;700&display=swap");
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

header .header_container {
  height: 1000px;
  background-image: url(../images/main_image.png);
  background-size: cover;
  background-position: center;
}
@media (width > 430px) {
  header .header_container {
    border-radius: 2rem 2rem 0 0;
    padding-block-start: 4rem;
  }
}
@media (width > 750px) {
  header .header_container {
    border-radius: 2rem 2rem 0 0;
    padding-block-start: 12rem;
  }
}
header .pc_menu {
  display: none;
}
@media (width > 750px) {
  header .pc_menu {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  header .pc_menu .icon_image {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/icon.png);
    background-size: contain;
  }
  header .pc_menu .icon_image img {
    margin-block-end: 0.5rem;
  }
  header .pc_menu .icon_image:hover {
    background-image: url(../images/icon_cheers.png);
  }
  header .pc_menu ul {
    display: flex;
  }
  header .pc_menu ul li + li {
    border-left: 1px solid #0a1d37;
  }
  header .pc_menu ul li {
    list-style: none;
    font-size: 1.5rem;
    padding-inline: 1.5rem;
    line-height: 24px;
  }
  header .pc_menu ul li a {
    text-decoration: none;
    color: #0a1d37;
  }
  header .pc_menu .cart {
    width: 25px;
    transition: opacity 0.6s ease;
  }
  header .pc_menu .cart img {
    height: auto;
    padding-block-start: 0.2rem;
  }
}
header .header_wrap {
  padding-block-end: 8rem;
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
}
@media (width > 750px) {
  header .header_wrap {
    display: none;
  }
}
header .header_wrap .icon_image {
  display: block;
  margin-block-start: 0.3rem;
  width: 60px;
  height: 60px;
  background-image: url(../images/icon.png);
  background-size: contain;
}
header .header_wrap .icon_image:hover {
  background-image: url(../images/icon_cheers.png);
}
@media (width > 430px) {
  header .header_wrap .icon_image {
    position: fixed;
    top: 0.2rem;
    left: 1rem;
    margin-block-start: 0;
  }
}
header .header_wrap .header_right {
  position: fixed;
  z-index: 1000;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  gap: 30px;
}
header .header_wrap .header_right .cart {
  width: 25px;
  right: 10px;
  transition: opacity 0.6s ease;
}
header .header_wrap .header_right .cart img {
  margin-block-start: 1.5rem;
  height: auto;
}
header .header_wrap .header_right .container {
  width: 35px;
  height: 35px;
  margin-block-start: 0.8rem;
}
@media (width > 750px) {
  header .header_wrap .header_right .container {
    display: none;
  }
}
header .header_wrap .header_right .hbgButton {
  position: fixed;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
header .header_wrap .header_right .hbgButton__fig {
  position: absolute;
  display: block;
  width: 100%;
  height: 35px;
}
header .header_wrap .header_right .hbgButton__fig--01 {
  top: 0;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
}
header .header_wrap .header_right .hbgButton__fig--02 {
  top: 8px;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
header .header_wrap .header_right .hbgButton__fig--03 {
  top: 16px;
  transition: top 0.3s 0.3s, transform 0.3s 0s;
}
header .header_wrap .header_right .hbgButton__fig svg {
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
header .header_wrap .header_right .hbgButton__fig svg path {
  fill: none;
  stroke: #0a1d37;
  stroke-width: 7px;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--01 {
  top: 10px;
  transform: rotate(30deg);
  transition: top 0.3s 0.2s, transform 0.3s 0.5s;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--02 {
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}
header .header_wrap .header_right .hbgButton.is-open .hbgButton__fig--03 {
  top: 10px;
  transform: rotate(-30deg);
  transition: top 0.3s 0.2s, transform 0.3s 0.5s;
}
header .title_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (width > 430px) {
  header .title_wrap {
    margin-block-start: 0;
  }
}
header .title_wrap .arch {
  position: absolute;
  top: -40%;
}
header .title_wrap .main_title {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 40px;
}
header .title_wrap .sub_title {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 65px;
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 24px; /* 文字のサイズ */
}
header .dilate {
  filter: url(#dilate);
}

.scroll_wrap {
  position: relative;
}

.scroll_arrow img {
  position: absolute;
  width: 32px;
  right: 1rem;
  bottom: 2rem;
}

footer,
.sp_footer {
  margin-block-start: 4rem;
  padding-block-start: 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #faf8f4;
  background-image: url(../images/footer_bg.png);
  background-size: auto;
}
@media (width > 430px) {
  footer,
  .sp_footer {
    border-radius: 0 0 2rem 2rem;
  }
}
footer .logo,
.sp_footer .logo {
  margin-block-start: 4rem;
}
footer .sns_wrap,
.sp_footer .sns_wrap {
  margin-block-start: 3.5rem;
}
footer .footer_beer,
.sp_footer .footer_beer {
  margin-block-start: 2.5rem;
  width: 153px;
  height: auto;
}
footer small,
.sp_footer small {
  margin-block-end: 2rem;
  font-size: 14px;
}

.sp_footer {
  border-radius: 0;
  background-size: cover;
}
@media (width > 500px) {
  .sp_footer {
    background-image: url(../../images/tb_footer_bg.png);
  }
}
@media (width > 750px) {
  .sp_footer {
    display: none;
  }
}

.cart_footer {
  display: none;
}
@media (width > 750px) {
  .cart_footer {
    background-image: url(../images/pc_footer_bg.png);
    background-color: #faf8f4;
    aspect-ratio: 2.7/1;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6rem 3rem 3rem 0;
    border-radius: 0;
  }
  .cart_footer .title_and_beer {
    position: relative;
  }
  .cart_footer .title_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (width > 750px) and (width > 430px) {
  .cart_footer .title_wrap {
    margin-block-start: 0;
  }
}
@media (width > 750px) {
  .cart_footer .title_wrap .arch {
    position: absolute;
    top: -20%;
  }
  .cart_footer .title_wrap .main_title {
    font-family: "Palanquin Dark", sans-serif;
    margin-block-start: 1rem;
    font-size: 40px;
  }
  .cart_footer .title_wrap .sub_title {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 85px;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 24px; /* 文字のサイズ */
  }
  .cart_footer .dilate {
    filter: url(#dilate);
  }
  .cart_footer .footer_beer {
    position: absolute;
    bottom: -60px;
    left: 75px;
  }
  .cart_footer .footer_text_wrap {
    display: flex;
    gap: 3rem;
    margin-inline-start: 2rem;
    margin-inline-end: 5rem;
  }
}
@media (width > 750px) and (width < 900px) {
  .cart_footer .footer_text_wrap .recruit {
    display: none;
  }
}
@media (width > 750px) {
  .cart_footer .footer_textbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cart_footer .footer_textbox .footer_title {
    color: #0a1d37;
    align-self: flex-start;
    background-color: #faf8f4;
    border-radius: 1rem;
    padding-inline: 1rem;
  }
  .cart_footer .footer_textbox ul li {
    list-style: none;
    line-height: 1.8rem;
    font-size: 14px;
  }
}
.cart_footer .sns_wrap {
  margin-block-start: 0;
}

.menu {
  height: 100dvh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #faf8f4;
  z-index: 100;
  transition: top 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu .title_wrap {
  margin-block-start: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .title_wrap svg.arch {
  display: block;
  height: auto;
  margin: 0;
}
.menu .title_wrap .main_title,
.menu .title_wrap .sub_title {
  line-height: 20px;
  margin: 0;
}
.menu .title_wrap .sub_title {
  line-height: 56px;
  letter-spacing: 0.2em;
}
.menu .title_wrap .dilate {
  filter: url(#dilate);
}
.menu nav {
  position: relative;
}
.menu nav ul {
  top: -170px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.menu nav ul li {
  list-style: none;
}
.menu nav ul li a {
  text-decoration: none;
  color: #0a1d37;
}
.menu .logo {
  margin-block-start: 80px;
}
.menu .sns_wrap {
  padding-block-end: 2rem;
}

.menu.active {
  top: 0;
}

section {
  padding-block-start: 0.1px;
  position: relative;
  margin-inline: 1rem;
}
section .sec_title {
  margin-block-start: 2rem;
  font-size: 1.5rem;
}
section .under_line {
  position: absolute;
  z-index: 1;
  height: 12px;
  top: 55px;
}
section .orange01 {
  background-color: rgba(255, 107, 53, 0.2509803922);
  width: 148px;
  left: -17px;
}
section .blue {
  background-color: rgba(79, 194, 247, 0.2509803922);
  right: -17px;
  width: 217px;
}
section .orange02 {
  background-color: rgba(255, 107, 53, 0.2509803922);
  width: 170px;
  left: -17px;
}
section .smalltext {
  font-size: 1rem;
  line-height: 20px;
}
section .middletext {
  font-size: 1.5rem;
  line-height: 20px;
}
section .beer_illust {
  width: 39px;
  position: relative;
}
section .beer_illust img {
  position: absolute;
  bottom: -3px;
  left: 140px;
}
section .text_box {
  margin-block-start: 1rem;
  margin-inline: 1rem;
  border: #0a1d37 solid 1px;
  border-radius: 1rem;
}
section .text_box p {
  margin-inline: 2rem;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  line-height: 2rem;
  font-weight: bold;
}
section .beer_image {
  position: absolute;
  width: 189px;
  bottom: 30px;
  right: -50px;
  rotate: 8.62deg;
}
section .worldwide_line {
  width: 100%;
  text-align: right;
  padding: 1rem;
}
section .worldwide_line img {
  display: inline-block;
  width: 208px;
  height: 163px;
}

.right .sec_title, .right .middletext, .right .smalltext {
  text-align: right;
}

.wave {
  position: relative;
  margin-block: 4rem;
  display: block;
  z-index: 10;
}

.une_wrap {
  z-index: -1;
  position: relative;
}
@media (width > 430px) {
  .une_wrap {
    overflow: hidden;
  }
}
.une_wrap .uneune {
  position: absolute;
}
.une_wrap .une01 {
  width: 330px;
  height: auto;
  left: -62px;
  top: -650px;
}
.une_wrap .une02 {
  width: 343px;
  height: auto;
  left: 150px;
  top: 300px;
}
.une_wrap .une03 {
  width: 371px;
  height: auto;
  left: -113px;
  top: 920px;
}
.une_wrap .une04 {
  width: 420px;
  height: auto;
  left: 132px;
  top: 1800px;
}

.chart {
  width: 320px;
  margin-inline: auto;
}
.chart img {
  z-index: 5;
}

.chart_text {
  margin-block-start: 3rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.review_title {
  display: block;
  text-align: center;
}

.review {
  width: 100%;
  max-width: 430px; /* スマホ幅制限 */
  margin: 0 auto;
  overflow: hidden;
}

.review_wrapper {
  padding-block: 2rem;
  position: relative;
  display: flex;
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
}

#review_slide {
  width: 280px;
  height: auto;
}
#review_slide img {
  width: 100%;
}

.drag {
  width: 100%;
  text-align: right;
  padding: 1rem;
}
.drag img {
  display: inline-block;
  width: 41px;
  height: auto;
}

.top_btn {
  margin-inline: auto;
  width: 100px;
  height: auto;
  margin-block-start: 2rem;
  transition: 0.2s;
}
.top_btn:hover {
  scale: 1.1;
}

html {
  background-color: #faf8f4;
}

#cart_wrap {
  background-color: #faf8f4;
  margin-inline: auto;
  padding-inline: 1rem;
  color: #0a1d37;
}
#cart_wrap body {
  background-color: #faf8f4;
  color: #0a1d37;
  font-family: "Noto Sans JP", sans-serif;
  width: 100vw;
}
#cart_wrap .header_wrap {
  padding-block-end: 2rem;
}
#cart_wrap .header_wrap a.icon_image {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/icon.png);
  background-size: contain;
}
#cart_wrap .header_wrap a.icon_image img {
  margin-block-end: 0.5rem;
}
#cart_wrap .header_wrap a.icon_image:hover {
  background-image: url(../images/icon_cheers.png);
}
@media (width > 430px) {
  #cart_wrap .cart_main {
    margin-block-start: 5rem;
  }
}
#cart_wrap .cart_main img {
  border-radius: 1rem;
  border: 1px #0a1d37 solid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 604px;
}
@media (width > 750px) {
  #cart_wrap .cart_main img {
    flex-basis: 57%;
  }
}
#cart_wrap .cart_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (width > 750px) {
  #cart_wrap .cart_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
#cart_wrap .cart_text .cart_textbox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (width > 750px) {
  #cart_wrap .cart_text .cart_textbox {
    display: flex;
    flex-direction: column;
    flex-basis: 37%;
    gap: 4rem;
  }
}
#cart_wrap .cart_text .cart_title {
  font-size: 1.5rem;
}
#cart_wrap .cart_text .price_wrap {
  display: flex;
  justify-content: space-between;
}
@media (width > 750px) {
  #cart_wrap .cart_text .price_wrap {
    display: flex;
    flex-direction: column;
  }
}
#cart_wrap .cart_text .price_wrap .price {
  font-size: 1.5rem;
}
#cart_wrap .cart_text .price_wrap .counter {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#cart_wrap .cart_text .price_wrap .counter p {
  font-size: 1.5rem;
}
#cart_wrap .cart_text .price_wrap .counter .c_btn {
  background-color: #0a1d37;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #faf8f4;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart_wrap .cart_text .price_wrap .counter .c_btn:hover {
  border: 1px solid #0a1d37;
  background-color: #4fc3f7;
}
#cart_wrap .cart_text .cart_btn {
  background-color: #4fc3f7;
  border-radius: 2rem;
  border: #0a1d37 1px solid;
}
#cart_wrap .cart_text .cart_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #faf8f4;
  text-decoration: none;
}
#cart_wrap .cart_text .cart_btn a img {
  display: block;
  width: 20px;
}
#cart_wrap .form_container {
  margin-block-start: 4rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px #0a1d37;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cart_wrap .form_container .form_title {
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  margin-block-end: 1.5rem;
}
#cart_wrap .form_container .form_text {
  margin-block: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
}
#cart_wrap .form_container .f_items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
#cart_wrap .form_container .f_items span {
  color: red;
}
#cart_wrap .form_container .f_items #postcode {
  margin-block-end: 0;
}
#cart_wrap .form_container .f_items input {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  margin-block-start: 0.2rem;
  margin-block-end: 1rem;
}
#cart_wrap .form_container .button {
  margin-block-start: 4rem;
  margin-block-end: 1.5rem;
}
#cart_wrap .form_container .guest_buy {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
#cart_wrap .form_container .guest_buy a {
  color: #0a1d37;
}

#about_us_body {
  background-image: url(../images/sp_about_us_bg.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media (width > 750px) {
  #about_us_body {
    background-color: #faf8f4;
    background-image: none;
    height: auto;
  }
}
#about_us_body .about_us_titlewrap {
  position: relative;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about_us_body .about_us_titlewrap .une05 {
  display: none;
}
@media (width > 750px) {
  #about_us_body .about_us_titlewrap .une05 {
    display: block;
    width: 164px;
    height: 162px;
    position: absolute;
    z-index: -50;
    left: 20px;
    top: -50px;
  }
}
@media (width > 750px) {
  #about_us_body .about_us_titlewrap {
    padding-block-start: 0;
    padding-block-end: 5rem;
    flex-direction: row;
    margin-inline: auto;
    width: 400px;
    gap: 2rem;
  }
}
#about_us_body .about_us_titlewrap .about_us_title {
  line-height: 2.5rem;
}
#about_us_body .header_container {
  background-image: none;
  padding-block-start: 0;
  width: auto;
  height: 150px;
}
#about_us_body .header_container .header_wrap {
  padding-block-end: 0;
}
#about_us_body .swiper {
  display: none;
}
@media (width > 750px) {
  #about_us_body .swiper {
    overflow: visible;
    display: block;
  }
  #about_us_body .swiper .swiper-wrapper {
    display: flex;
    gap: 2rem;
    padding-block: 2rem;
  }
  #about_us_body .swiper .swiper-wrapper .swiper-slide {
    width: 20vw;
  }
  #about_us_body .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

@media (width > 430px) {
  .page_top {
    background-image: url(../images/pc_bg.png);
    background-attachment: fixed;
    background-size: cover;
    padding-block: 2rem;
  }
}

body {
  color: #0a1d37;
  font-family: "Noto Sans JP", sans-serif;
}
body .main_wrap {
  overflow: hidden;
  max-width: 430px;
  width: 100vw;
  background-color: #faf8f4;
}
@media (width > 430px) {
  body .main_wrap {
    margin-inline: auto;
    margin-block: 5rem;
    border: 1px #4fc3f7 solid;
    border-radius: 2rem;
  }
}
@media (width > 750px) {
  body .main_wrap {
    margin-inline-start: 16%;
    margin-block: 5rem;
    border: 1px #4fc3f7 solid;
    border-radius: 2rem;
  }
}

section {
  position: relative;
}

section,
p,
div,
header,
footer {
  z-index: 10;
}

.logo {
  width: 125px;
  height: auto;
  margin-inline: auto;
}

.english {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: bold;
}

.button {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button a {
  font-weight: bold;
  border-radius: 2rem;
  border: 1px solid #0a1d37;
  background-color: #ff6b35;
  color: #faf8f4;
  text-decoration: none;
  display: inline-block;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  transition: 0.2s;
}
.button a:hover {
  background-color: #ffc9b6;
  color: #0a1d37;
}

.sns_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.sns_wrap p {
  font-size: 1.5rem;
}
.sns_wrap .sns_icons {
  display: flex;
  gap: 2rem;
}
.sns_wrap .sns_icons img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=style.css.map */