@use "vendors/ress";
// ハブファイルの呼び出し方
@use "base" as *;
@use "pages" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Palanquin+Dark:wght@400;500;600;700&display=swap");

img {
  max-width: 100%;
}

.page_top {
  @media (width > 430px) {
    background-image: url(../images/pc_bg.png);
    background-attachment: fixed;
    background-size: cover;
  }
}

body {
  color: $text_color;
  font-family: $font_jp;

  .main_wrap {
    max-width: 430px;
    width: 100vw;
    background-color: $bg_color;

    @media (width > 430px) {
      margin-inline: auto;
      margin-block: 5rem;
      border: 1px $accent_color02 solid;
      border-radius: 2rem;
    }
    @media (width > 750px) {
      margin-inline-start: 16%;
      margin-block: 5rem;
      border: 1px $accent_color02 solid;
      border-radius: 2rem;
    }
  }
}

section {
  position: relative;
}

section,
p,
div,
header,
footer {
  z-index: 10;
}

//ロゴ
.logo {
  width: 125px;
  height: auto;
  margin-inline: auto;
}

//英語の文章
.english {
  font-family: $font_en;
  font-weight: bold;
}

// ボタン
.button {
  margin-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    border-radius: 2rem;
    border: 1px solid $text_color;
    background-color: $accent_color01;
    color: $bg_color;
    text-decoration: none;
    display: inline-block;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    transition: 0.2s;
    &:hover {
      background-color: #ffc9b6;
      color: $text_color;
    }
  }
}

.sns_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  p {
    font-size: 1.5rem;
  }

  .sns_icons {
    display: flex;
    gap: 2rem;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
