@use "../base/variables" as *;

footer,
.sp_footer {
  margin-block-start: 4rem;
  padding-block-start: 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $bg_color;
  background-image: url(../images/footer_bg.png);
  background-size: auto;

  @media (width > 430px) {
    border-radius: 0 0 2rem 2rem;
  }

  .logo {
    margin-block-start: 4rem;
  }

  .sns_wrap {
    margin-block-start: 3.5rem;
  }

  .footer_beer {
    margin-block-start: 2.5rem;
    width: 153px;
    height: auto;
  }

  small {
    margin-block-end: 2rem;
    font-size: 14px;
  }
}

//カートSPフッター
.sp_footer {
  border-radius: 0;
  background-size: cover;

  @media (width > 500px) {
    background-image: url(../images/tb_footer_bg.png);
  }
  @media (width > 750px) {
    display: none;
  }
}

//pc版カートフッター
.cart_footer {
  display: none;

  @media (width > 750px) {
    background-image: url(../images/pc_footer_bg.png);
    background-color: $bg_color;
    width: 100%;
    aspect-ratio: 2.7 / 1;
    max-height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6rem 3rem 2rem 0;

    border-radius: 0;

    //タイトル
    .title_and_beer {
      position: relative;
    }

    .title_wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (width > 430px) {
        margin-block-start: 0;
      }

      .arch {
        position: absolute;
        top: -20%;
      }

      .main_title {
        font-family: $font_en;
        margin-block-start: 1rem;
        font-size: 40px;
      }
      .sub_title {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 85px;
        white-space: nowrap;
        font-weight: bold;
        letter-spacing: 0.2em;
        font-size: 24px; /* 文字のサイズ */
      }
    }
    .dilate {
      filter: url(#dilate);
    }

    .footer_beer {
      position: absolute;
      bottom: -60px;
      left: 75px;
    }

    .footer_text_wrap {
      display: flex;
      gap: 3rem;
      justify-content: space-around;
      margin-inline-start: 2rem;
      margin-inline-end: 5rem;
      .recruit {
        @media (width < 900px) {
          display: none;
        }
      }
    }

    .footer_textbox {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .footer_title {
        color: $text_color;
        align-self: flex-start;
        background-color: $bg_color;
        border-radius: 1rem;
        padding-inline: 1rem;
      }

      ul {
        li {
          list-style: none;
          line-height: 1.8rem;
          font-size: 14px;
        }
      }
    }
  }
  .sns_wrap {
    margin-block-start: 0;
  }
}
